language: node_js
node_js: stable

# S: Build Lifecycle
install:
  - npm install && hexo clean


  #before_script:
  # - npm install -g gulp

script:
  - hexo g

after_script:
  - cd ./public
  - git init
  - git config user.name "hustcsxg"
  - git config user.email "hustcsxg@163.com"
  - git add .
  - git commit -m "Update docs"
  - git push --force --quiet "https://${token}@${GH_REF}" master:master


branches:
  only:
    - source
env:
  global:
    - GH_REF: github.com/hustcsxg/hustcsxg.github.io
